:root {
  --ck-z-default: 100;
  --ck-z-panel: calc(var(--ck-z-default) + 999);
  --ck-z-modal: calc(var(--ck-z-default) + 999);
}
.ck-body-wrapper {
  z-index: 10000;
}
.ck-content .table {
  width: auto;
}
.document-editor,
.toolbar-container {
  position: relative;
  border: 1px solid #ddd;
  background: #eee;
  color: #000;
}
.document-editor .document-editor__toolbar .ck-toolbar .ck.ck-list__item {
  line-height: 20px;
}
.document-editor
  .document-editor__toolbar
  .ck-toolbar
  .ck.ck-list__item
  .ck-button.ck-button_with-text {
  padding: 2px 5px;
  font-size: 0.8em;
}
.document-editor
  .document-editor__toolbar
  .ck-toolbar
  .ck.ck-list__item
  .ck-button.ck-button_with-text,
.document-editor
  .document-editor__toolbar
  .ck-toolbar
  .ck.ck-list__item
  .ck-button.ck-button_with-text
  .ck.ck-button__label {
  padding: 2px 5px;
  font-size: 1.1em;
}
.document-editor
  .document-editor__toolbar
  .ck-toolbar
  .ck.ck-list__item
  .ck-button
  .ck-button__label {
  line-height: 1.2em;
}
.document-editor
  .document-editor__toolbar
  .ck-toolbar
  .ck-dropdown.ck-font-size-dropdown
  .ck-button.ck-dropdown__button
  .ck-button__label {
  width: auto;
}
.document-editor
  .document-editor__toolbar
  .ck.ck-toolbar
  > .ck-toolbar__items
  > :not(.ck-toolbar__line-break),
.document-editor
  .document-editor__toolbar
  .ck.ck-toolbar
  > .ck.ck-toolbar__grouped-dropdown {
  margin: 0;
}
.toolbar-container {
  padding: 1em;
}
.document-editor .ck-content {
  border: 1px #d3d3d3 solid;
  border-radius: var(--ck-border-radius);
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.document-editor .document-editor__editable-container {
  padding: calc(2 * var(--ck-spacing-large));
  background: var(--ck-color-base-foreground);
  overflow-y: auto;
  height: calc(100vh - 400px);
}
.document-editor .document-editor__editable-container .ck-editor__editable {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  border: 1px hsl(0, 0%, 82.7%) solid;
  border-radius: var(--ck-border-radius);
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.document-editor
  .document-editor__editable-container
  .ck-editor__editable
  table
  tr
  th,
.document-editor
  .document-editor__editable-container
  .ck-editor__editable
  table
  tr
  td {
  padding: 5px;
}
.document-editor__editable-container .ck-editor__editable_inline p {
  margin: 0;
}
#snippet-autosave-status #snippet-autosave-saved {
  display: block;
}
#snippet-autosave-status #snippet-autosave-saving {
  display: none;
}
#snippet-autosave-status.busy #snippet-autosave-saved {
  display: none;
}
#snippet-autosave-status.busy #snippet-autosave-saving {
  display: block;
}
#snippet-autosave-status.busy #snippet-autosave-saving svg#h-animated {
  max-height: 12pt;
}
.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
  display: none;
}
.placeholder {
  opacity: 1;
}
